.divThree{
    padding-bottom: 203px;
    width: 20%;
    background-color: blueviolet;
    float: left;
    height: 100%;
    margin-bottom: 20px;
    color:white;
    font-weight: bold;
    text-align: center;
}
.divTwo{
    width: 20%;
    background-color: orange;
    float: center;
    float: left;
    padding-bottom: 203px;
    color:white;
    font-weight: bold;
    text-align: center;
}

.divOne{
    width: 20%;
    background-color: red;
    float: left;
    padding-bottom: 203px;
    color:white;
    font-weight: bold;
    text-align: center;
}

.bgRedCl{
    background-color: red;
}

.bgOrangeCl{
    background-color: orange;
}

.bgVioletCl{
    background-color: blueviolet;
}

.emptyDiv{
    padding-bottom: 203px;
    width: 4%;
    background-color: transparent;
    float: left;
    height: 100%;
    margin-bottom: 19px;
    color: white;
    font-weight: bold;
}

.divFour{
    width: 20%;
    background-color: white;
    float: left;
    padding-bottom: 203px;
    // color:white;
    font-weight: bold;
    text-align: center;
}